
.mail-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2em;
    padding: 10px;
    gap: 10px;
}

.select-type{
    width: 20px;
    height: 20px;
}

.filter-actions{
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.unread-count{
    min-width: 70px;
    max-width: 70px;
    text-align: center;
}

.mail-filter button{
    border: none;
    background: none;
}

.mail-filter-form{
    background-color: #f2f6fc;
}

.mail-search{
    width: 60vw;
    height: 48px;
    border-style: hidden;
    background: none;
}

.mail-search:focus{
    border: none;
    outline: none;
}