
.name-mail-modal{
    position: fixed;
   bottom: 0;
    right: 0;
    height: 500px;
    width: 500px;
    background-color: blue;
    font-size: 100px;
    /* z-index: 2; */
    /* transform: translateY(100%); */
}

/* .name-mail-modal.closed{
    max-height: 0;
} */

.name-mail-modal.open{
   height: 500px;
}

