
.name-mail-modal{
    position: fixed;
   bottom: 0;
    right: 20px;
    height: 500px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding:0 10px;


}

.mail-modal-title{
    color: #041e49;
}





.mail-modal-header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* background: none; */
    border: 10px;
}

.mail-modal-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-basis: 80%;
    color: #041e49;
    font-weight: bolder;
}

.modal-opening-btns-cont{
    flex-basis: 20%;
    
}

.mail-modal-header button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
.mail-modal-header button:hover{
    
    background: #dadce0;
}

.mail-to-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #dadce0;
    background: none;
    padding: 10px 0;
}
.mail-to-input:focus{
    content: "To";
    outline: none;
}

.mail-body-input{
    width: 100%;
    border: none;
    padding: 10px 0;
    resize: none;
  
    height: 290px;

}

.mail-body-input:focus{
    outline: none;
}

.mail-modal-footer{
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}

.mail-modal-footer button:not(.mail-modal-send-btn){
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    
}





.modal-delete-btn{
    margin-left: 90px;
    
}


.mail-modal-send-btn{
    color: white;
    background-color: #0B57D0;
    padding: 12px 0;
    border: none;
    border-radius: 2em;
    width: 100px;
    margin-right: 20px;
    cursor: pointer;

}

.mail-modal-send-btn:hover{
    background-color: #0b57d0c7;
}


.mail-modal-header-container{
    position: fixed;
    bottom: 0;
    right: 20px;
  
    width: 350px;
    border-radius: 10px;
    box-shadow: inset  1px 0 0 #dadce0,-1px 0 0 #dadce0,0 1px 2px 0 rgb(60 64 67 / 30%);
}

@media (max-width: 700px) {
     .name-mail-modal{
         width: 90vw;
         right: 0;
        }
      }





