

.app-imgs-container{
    display: flex;
    gap: 10vw;
    margin-top: 15vh;
    padding: 4vw;
    
    
   
}
.app-imgs-container img{
    width: 25vw;
    height:25vw;
}

.app-imgs-container img:hover{
    border: 3px solid transparent;
    cursor: pointer;
}

