

/* @font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");
} */

@font-face {
    font-family: fa-brands;
    src: url("/assets/fonts/fa-brands-400.ttf");
}

/* @font-face {
    font-family: fa-regular;
    src: url("/assets/fonts/fa-regular-400.ttf");
} */


@font-face {
    font-family: fa-solid;
    src: url("/assets/fonts/fa-solid-900.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");
}


/* @font-face {
    font-family: fa-solid;
    src: url("/assets/fonts/fa-regular-400.ttf");
} */

@font-face {
    font-family: fa-regular;
    src: url("/assets/fonts/fa-regular-400.ttf");
}




.fa-brands::before{
    font-family: fa-brands;
}
.fa-regular::before{
    font-family: fa-regular;
}
.fa-regular.envelope::before{
    content: "\f0e0";
    color: #5f6368;
   
}

.fa-regular.envelope-open::before{
    content: "\f2b6";
    color: #5f6368;
   
}
.fa-regular.trash-can::before{
    content: "\f2ed";
    color: #5f6368;
   
}

.fa-regular.trash-can-black::before{
    content: "\f2ed";
    color: #000000;
   
}
.fa-solid.go-back::before{
    content: "\f060";
    color: #000000;
   
}
.fa-solid.angle-right::before{
    content: "\f105";
    color: #000000;
   
}
.fa-solid.angle-left::before{
    content: "\f104";
    color: #000000;
   
}

.fa-regular.star::before{
    content: "\f005";
    color: #5f6368; 
   
}
.fa-regular.img-icon::before{
    content: "\f03e";
    color: black; 
   
}

.fa-regular.sign-icon::before{
    content: "\f5ac";
    color: black; 
   
}


.fa-solid.star::before{
    content: "\f005";
    color: gold;
  
   
}


.fa-regular.pen::before{
    content: "\f2ed";
    color: #5f6368;
    
}




.fa-regular.star-nav::before{
    content: "\f005";
    color: black; 
}
.fa-regular.sent-nav::before{
    content: "\f1d8";
    color: black; 
}
.fa-regular.inbox-nav::before{
    content: "\f0e0";
    color: black; 
}

.fa-solid.pen::before{
    content: "\f304";
    color: black;
}
.fa-solid.options::before{
    content: "\f013";
    color: black;
}
.fa-solid.more-options::before{
    content: "\f142";
    color: black;
}


.fa-solid.caps::before{
    content: "\41";
    color: black;
}
.fa-solid.lock::before{
    content: "\f023";
    color: black;
}

.fa-solid.pin::before{
    content: "\f0c6";
    color: black;
}

.fa-solid.link::before{
    content: "\f0c1";
    color: black;
}

.fa-regular.emoji::before{
    content: "\f118";
    color: black;
}




.fa-solid.minus::before{
    content: "\f068";
    color: #5f6368;
}


.fa-solid.double-arrow::before{
    content: "\f047";
    color: #5f6368;
}
.fa-solid.x::before{
    content: "\f00d";
    color: #5f6368;
}



