
/* Add notes container */
.note-add{
    display: flex;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
}

.note-input-text-area{
    display: flex;
    flex-direction: row;
}

.note-input-text{
display: flex;
}

.note-input-edit{

}