/*  */
.note-add {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.note-input-text-area {
    display: flex;
    flex-direction: column;
}

.note-input-text {
    display: flex;
}

.note-input-edit {
    justify-content: space-around;
}