/* individual note container */
.note-preview{
    backdrop-filter: blur(14px);
    border: 1px solid black;
    border-radius: 16px;
    padding: 0.6em 1.9em 1.3em;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    width: 100%;
    min-height: 100px;
}

