

.mail-index-container{
    display: flex;
    height: calc(100vh-66px);
 
}



.mail-content-container{
    
    display: flex;
    flex-direction: column;
    width: 88vw;
    


}

.mail-sidebar{
    width: 12vw;
    height: 94.5vh;
}

.mail-list{  
    height: 90vh;
    overflow-y: scroll;
}






