
.mail-index-container{
    display: flex;
    /* flex-direction: column; */
    height: calc(100vh-75px);
}

.sidebar-container{
   width: 15vw;

}


.mail-content-container{
    
    display: flex;
        flex-direction: column;
}

.mail-sidebar{
    width: 13vw;
    height: 95vh;
}

.mail-list{
    width: 87vw;
    height: 90vh;
    overflow-y: scroll;
}
