
.mail-index-container{
    display: flex;
    height: calc(100vh-66px);
}

.mail-content-container{
    
    display: flex;
        flex-direction: column;
}

.mail-sidebar{
    width: 13vw;
    height: 95vh;
}

.mail-list{
    width: 87vw;
    height: 90vh;
    overflow-y: scroll;
}