/* Main */
* {
    box-sizing: border-box;
}

.note-index-container {
    display: flex;
}

/* Header */


/* Sidebar */

.note-sidebar-container {
    display: flex;
    width: 15vw;

}

/* Notes */

.note-content-container {
    width: 80vw;
    /* overflow-x: scroll; */
}

.note-list {
    width: 80vw;
    /* overflow-x: scroll; */
}